= form_for @user do |f|
  - if @user.errors.any?
    %h2
      Enter required fields!
  .field.md:flex.md:justify-between
    .mb-4.md:mr-2.md:mb-0
      = f.label :first_name
      = f.text_field :first_name, placeholder: "John"
      = f.error_message_for :first_name
    .md:ml-2
      = f.label :last_name
      = f.text_field :last_name, placeholder: "Doe"
      = f.error_message_for :last_name
  .field
    = f.label :email
    = f.email_field :email, placeholder: "john_doe@mail.com"
    = f.error_message_for :email
  .field
    = f.label :username
    = f.text_field :username, placeholder: "john_doe"
    = f.error_message_for :username
  .field.password.md:flex.md:justify-between
    .mb-4.md:mr-2.md:mb-0
      = f.label :password
      = f.password_field :password, placeholder: "********"
      = f.error_message_for :password
    .md:ml-2
      = f.label :password_confirmation, "Confirm password"
      = f.password_field :password_confirmation, placeholder: "********"
      = f.error_message_for :password_confirmation
  .actions.mb-6.text-center
    = f.submit 'Create Account'
  %hr.mb-6.border-t/
  .text-center
    = link_to 'Forgot Password?'
  .text-center
    = link_to 'Already have an account?, Login!'
